<body>
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/table.css">
	<nav class="menu" id="nav">
		<span class="nav-item active">
			<a href="/register-win">Registrar ganancia</a>
		</span>
		<span class="nav-item active">
			<a href="/edit-balance">Editar balance</a>
		</span>
	</nav>
	<table>
    <thead>
      <tr>
        <th></th>
        <th>Fran</th>
        <th>Lean</th>
        <th>Leo</th>
        <th>Nahu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Betano</th>
        <td class="amount-el" id="franco-betano"></td>
        <td class="amount-el" id="leandro-betano"></td>
        <td class="amount-el" id="leonel-betano"></td>
        <td class="amount-el" id="nahuel-betano"></td>
      </tr>
      <tr>
        <th>Bet365</th>
        <td class="amount-el" id="franco-bet365"></td>
        <td class="amount-el" id="leandro-bet365"></td>
        <td class="amount-el" id="leonel-bet365"></td>
        <td class="amount-el" id="nahuel-bet365"></td>
      </tr>
    </tbody>
  </table>
	<nav class="menu">
		<span class="nav-item active">
			<a href="/" id="home">Inicio</a>
		</span>
	</nav>
</body>
<script src="/js/render.table.amounts.js"></script>