<body>
	<link rel="stylesheet" href="css/home.css">
	<nav class="menu" id="nav">
		<span class="nav-item active">
			<a href="/balance">Balance</a>
		</span>
		<span class="nav-item active">
			<a href="/bets">Apuestas</a>
		</span>
		<span class="nav-item active">
			<span class="icon">
				<span class="subicon">1</span>
				<i data-feather="bell"></i>
			</span>
			<a href="/misiones-betano">Misiones Betano</a>
		</span>
	</nav>
</body>
<script src="/js/fetch.table.js"></script>
