<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/input.css">

<style>
	.nav-item {
		display: flex;
		flex-direction: column;
		border: none;
	}

	label {
		min-width: 80%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.input-btn {
		font-size: 1.1em;
		min-width: 100%;
	}

	p {
		font-size: .8em;
	}

	.checkbox-label {
		flex-direction: row;
		font-size: .9em;
	}

	.username {
		font-size: .6em;
	}

	input[type="checkbox"] {
		transform: scale(1.5);
		display: flex;
		align-items: center;
	}

	.description {
		min-width: 80%;
	}
</style>

<nav class="menu input-container">
	<form id="bet-form">
		<span class="nav-item active">
			<label for="amount">
				<p>Descripción</p>
				<input name="description" type="text" class="input description" id="amount">
			</label>
			<label for="amount">
				<p>Monto</p>
				<input name="amount" type="number" class="input" id="amount">
			</label>
			<label for="amount">
				<p>Cuota</p>
				<input name="odds" type="number" class="input" id="amount">
			</label>
			<label class="accounts-container" for="amount">
				<p>Cuentas</p>
				<label class="checkbox-label" for="amount">
					<input name="franco" type="checkbox" class="input" id="amount">
					<p class="username">Franco</p>
				</label>
				<label class="checkbox-label" for="amount">
					<input name="leandro" type="checkbox" class="input" id="amount">
					<p class="username">Leandro</p>
				</label>
				<label class="checkbox-label" for="amount">
					<input name="leonel" type="checkbox" class="input" id="amount">
					<p class="username">Leonel</p>
				</label>
				<label class="checkbox-label" for="amount">
					<input name="nahuel" type="checkbox" class="input" id="amount">
					<p class="username">Nahuel</p>
				</label>
			</label>
		</span>
	</form>
	<div class="button-container">
		<span class="nav-item active">
			<button class="input-btn" onclick="registerBet()">Confirmar</button>
		</span>
	</div>
</nav>
<nav class="menu">
	<span class="nav-item active">
		<a href="/" id="home">Inicio</a>
	</span>
</nav>

<script src="/js/register.bet.js"></script>