<link rel="stylesheet" href="css/home.css">
<h1>Registrar ganancia de</h1>
<nav class="menu" id="nav">
	<span class="nav-item active">
		<a href="/registrar-ganancia/franco">Franco</a>
	</span>
	<span class="nav-item active">
		<a href="/registrar-ganancia/leandro">Leandro</a>
	</span>
	<span class="nav-item active">
		<a href="/registrar-ganancia/leonel">Leonel</a>
	</span>
	<span class="nav-item active">
		<a href="/registrar-ganancia/nahuel">Nahuel</a>
	</span>
</nav>
<nav class="menu">
	<span class="nav-item active">
		<a href="/" id="home">Inicio</a>
	</span>
</nav>

<style>
	h1 {
		color: #00ff00;
		text-shadow: 0 0 3px rgba(153, 102, 255, 0.7);
	}
</style>