<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/input.css">
<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' />
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
<nav class="table-container">
	<table>
		<thead>
			<tr>
				<th></th>
				<th>{{user}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Betano</th>
				<td class="amount-el" id="{{user}}-betano"></td>
			</tr>
			<tr>
				<th>Bet365</th>
				<td class="amount-el" id="{{user}}-bet365"></td>
			</tr>
		</tbody>
	</table>
</nav>

<nav class="menu input-container">
	<span class="nav-item active">
		<label for="amount">
			<p>Ganancia</p>
			<input type="number" class="input" id="amount">
		</label>
	</span>
	<div class="button-container">
		<span class="nav-item active">
			<button class="input-btn" id="betano">Sumar a Betano</button>
		</span>
		<span class="nav-item active">
			<button class="input-btn" id="bet365">Sumar a Bet365</button>
		</span>
	</div>
</nav>

<nav class="menu">
	<span class="nav-item active">
		<a href="/" id="home">Inicio</a>
	</span>
</nav>

<script src="/js/register.win.js"></script>
<script src="/js/render.table.amounts.js"></script>

<style>
	.menu {
		flex-direction: column;
		background-color: #222;
	}

	nav>span {
		margin: 10px;
		border-left: 1px solid #222;
	}

	.input-container .nav-item {
		border: none;
	}
</style>