* {
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
	width: 100vw;
}
body {
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	background-color: #222;
	font-family: sans-serif;
	flex-direction: column;
	align-items: center;
}
.nav-item {
	display: flex;
}
.menu {
	border-radius: 6px;
	background-color: #222;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 -2px 0 black;
	cursor: pointer;
	box-shadow:
		1px 2px 4px #141414,
		0 4px 12px #0a0a0a;
	justify-content: space-evenly;
}
.nav-item {
	flex-direction: row-reverse;
	font-size: 2rem;
	line-height: 1rem;
	align-items: center;
	min-width: 120px;
	justify-content: center;
	transition: all 80ms ease;
}
.nav-item.active {
	color: #00ea00;
	text-shadow: 0 0 3px rgba(153, 102, 255, 0.7);
}
.nav-item:hover > .icon .subicon {
	height: 32px;
	width: 32px;
	border-radius: 32px;
	top: -16px;
	right: -16px;
	border-color: white;
}
.nav-item {
	border-right: 0.1rem solid black;
}
.nav-item a,
.nav-item button {
	color: inherit;
	text-decoration: none;
	padding: 1ch;
	background: none;
}
button {
	border: none;
}
.nav-item .icon {
	padding: 1ch;
	position: relative;
}
.nav-item .icon .subicon {
	text-shadow: none;
	transition: all 40ms ease;
	position: absolute;
	top: -3px;
	right: -3px;
	background: red;
	color: white;
	box-shadow: 0 0 4px rgba(41, 41, 41, 0.405);
	width: 32px;
	height: 32px;
	border-radius: 14px;
	font-size: 1em;
	font-weight: 700;
	display: inline-grid;
	place-items: center;
	border: 2px solid #ff8080;
}
.nav-item .icon > svg {
	max-width: 16px;
}

#home {
	color: #00ea00;
	text-decoration: none;
	padding: 1ch;
}

p {
	font-size: 0.5em;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input:focus {
	outline: none;
}

@media (max-width: 768px) {
	.menu {
		flex-direction: column;
		background-color: #222;
	}
	nav > span {
		margin: 10px;
		border-left: 1px solid #222;
	}
}
