.input, .input-btn {
  color: #00ea00;
  text-decoration: none;
  padding: 1ch;
  background-color: #333;
  border: none;
  margin: 5px;
	max-width: 20vw;
}

.input-container {
  min-height: 30%;
  display: flex;
  justify-content: space-evenly;
}

p {
	padding: 0 1ch;
}